modules = ["java-graalvm22.3", "web"]

[nix]
channel = "stable-24_05"
packages = ["nettools"]

[workflows]
runButton = "Run Spring Boot"

[[workflows.workflow]]
name = "Run Spring Boot"
author = 41089581
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export GIT_REPO_DIR=/home/runner/workspace/git-repos && ./mvnw spring-boot:run -Dspring.profiles.active=prod"

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 35729
externalPort = 80
